body:has(.thisPageIsClerkSignInOrSignUp)
    #__next
    > div
    div[class*="cl-internal"]:has(> p):has(> a) {
    display: none;
}

body:has(.thisPageIsClerkSignInOrSignUp) #__next > div > div.cl-card,
body:has(.thisPageIsClerkSignInOrSignUp)
    #__next
    > div
    > div:not(.cl-card)
    > div.cl-card {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    position: absolute;
    /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
    top: 0%;
    left: 0%;
    height: 100%;
    margin-left: 0px;
    border-radius: 0px;
    overflow: auto;
}

body:has(.thisPageIsClerkSignInOrSignUp):has(
        #__next > div div[class*="cl-internal"]
    ) {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url("https://cloud-8lj4t1m8o-hack-club-bot.vercel.app/0image__45_-min__1_.png");
    background-size: cover;
}
